---
const frontendSkills = [
  { name: 'JavaScript', level: 50 },
  {name: 'TypeScript', level: 40},
  { name: 'React', level: 20 },
  { name: 'CSS', level: 75 },
];

const backendSkills = [
  { name: 'Php', level: 50 },
  { name: 'Python', level: 70 },
  { name: 'C#', level: 80 },
  {name: 'SqlServer', level: 80},
];
---

<section id="habilidades" class="py-20 bg-black text-white">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Mis Habilidades</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
      
      <!-- Frontend Skills -->
      <div class="space-y-4">
        <h3 class="text-2xl font-semibold mb-4">Frontend</h3>
        {frontendSkills.map(skill => (
          <div class="bg-black text-white p-6 rounded-md shadow-md hover:shadow-lg transition-shadow">
            <h4 class="text-xl font-semibold">{skill.name}</h4>
            <div class="w-full bg-gray-700 h-2 rounded-full mt-2">
              <div class="h-2 bg-white rounded-full" style={{ width: `${skill.level}%` }}></div>
            </div>
            <p class="mt-2 text-sm">{skill.level}%</p>
          </div>
        ))}
      </div>

      <!-- Backend Skills -->
      <div class="space-y-4">
        <h3 class="text-2xl font-semibold mb-4">Backend</h3>
        {backendSkills.map(skill => (
          <div class="bg-black text-white p-6 rounded-md shadow-md hover:shadow-lg transition-shadow">
            <h4 class="text-xl font-semibold">{skill.name}</h4>
            <div class="w-full bg-gray-700 h-2 rounded-full mt-2">
              <div class="h-2 bg-white rounded-full" style={{ width: `${skill.level}%` }}></div>
            </div>
            <p class="mt-2 text-sm">{skill.level}%</p>
          </div>
        ))}
      </div>

    </div>
  </div>
</section>

<style>
  section {
    background-color: #000;
    color: #fff;
  }
  
  .card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
</style>
